<?xml version='1.0' encoding='utf-8'?>
<widget id="pl.patryk.expenseRegister" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>Expense Register</name>
    <description>My first mobile app</description>
    <author email="zonb93@gmail.com" href="http://mypersonalwebsite.com">
        Adam Włodarczyk
        Bartosz Suder
        Patryk Rębilas
    </author>
    <variable name="323290425508-dkhisu6b0pfqe45e6s7u5bjjpk146ghq" value="ZfqRRdj0kVoD6t9iloHVNVgO" />
    <plugin name="cordova-plugin-device" spec="2.0.1" />
    <plugin name="cordova-plugin-dialogs" spec="2.0.1" />
    <plugin name="cordova-plugin-googleplus" spec="5.2.1">
        <variable name="REVERSED_CLIENT_ID" value="686795737390-j5n1pm8som4jdheark3q336pib3101k8.apps.googleusercontent.com" />
        <variable name="WEB_APPLICATION_CLIENT_ID" value="686795737390-u2o1airh1e14jcm58cejmhihnfsn1991.apps.googleusercontent.com" />
    </plugin>
    <engine name="browser" spec="~5.0.3" />
    <engine name="android" spec="^6.1.2" />
</widget>
