/*.tile_div button a{
	width: 18%;
	color : black;
    background-color: #dfdefc; 
	float: left;
    border: 1px solid green;
	border: 1px solid #1811dd;
	border-radius: 5px;
    color: white;
    padding: 15px ;
    text-align: center;
    text-decoration-color: black;
    display: inline;
    font-size: 16px;
}


.tile_div button b {
	width: 18%;
	color : black;
    background-color: #dfdefc;
	float: left;
    border: 1px solid green;
	border: 1px solid #1811dd;
	border-radius: 5px;
    color: white;
    padding: 15px ;
    text-align: center;
    text-decoration-color: black;
    display: inline;
    font-size: 16px;
}
*/
button :hover  {
	color: #dedee2;
	background: #03072;
	border: 1px solid blue;
}

.tile_div button {
	width: 20%;
	color : black;
    background-color: #dfdefc; /* Green */
	float: left;
    border: 1px solid green;
	border: 1px solid #1811dd;
	border-radius: 5px;
    color: white;
    padding: 15px ;
    text-align: center;
    display: inline;
    font-size: 10px;
}

.title_div a.last {
    margin-right: 0;
}

.clear {
    clear: both;
}

div.greyGridTable {
  border: 2px solid #FFFFFF;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.divTable.greyGridTable .divTableCell, .divTable.greyGridTable .divTableHead {
  border: 1px solid #FFFFFF;
  padding: 3px 4px;
}
.divTable.greyGridTable .divTableBody .divTableCell {
  font-size: 13px;
}
.divTable.greyGridTable .divTableCell:nth-child(even) {
  background: #EBEBEB;
}
.divTable.greyGridTable .divTableHeading {
  background: #FFFFFF;
  border-bottom: 4px solid #333333;
}
.divTable.greyGridTable .divTableHeading .divTableHead {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  border-left: 2px solid #333333;
}
.divTable.greyGridTable .divTableHeading .divTableHead:first-child {
  border-left: none;
}

.greyGridTable .tableFootStyle {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  border-top: 4px solid #333333;
}
.greyGridTable .tableFootStyle {
  font-size: 14px;
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}